/* Start Variables */
:root {
    --mainColor: #fff;
    --primary: #0d6efd;
    --transition: 0.5s;
    --secondColor: #000;
    --border-raduis: 0.375rem;
}
/* End Variables */
/* Start Global Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
body {
    font-family: 'Roboto', sans-serif;
}
.btn {
    padding: 0.375rem 1rem;
    font-size: 0.9rem;
}
.main {
    position: relative;
    margin-bottom: 1rem;
}
.main h1 {
    font-size: 6rem;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
    color: transparent;
}
.main h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary);
}
/* End Global Rules */
/* Start Navbar */
.navbar {
    padding: 0.25rem 0rem;
}
.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
}
.navbar .navbar-brand span {
    color: var(--secondColor);
}
.navbar .navbar-nav .nav-link {
    transition: var(--transition);
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: #2196f3;
}
.navbar .navbar-nav .nav-link.active {
    color: #2196f3;
}
/* End Navbar */
/* Start Header */
header {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--mainColor);
}
header h1 {
    font-weight: bold;
    text-transform: uppercase;
} 
header h5,
header h4 {
    font-weight: 300;
}
@media(max-width: 991px) {
    header .text {
        text-align: center;
    }
}
@media(max-width: 767px) {
    header img {
        margin-top: 1rem;
    }
}
/* header img {
    width: 60rem;
} */
header .btn {
    font-size: 0.9rem;
    padding: 0.375rem 1rem;
}
header .btn-download {
    background-color: var(--mainColor);
    border: 1px solid transparent;
    color: var(--secondColor);
}
header .btn-play {
    background-color: transparent;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}
/* End Header */
/* Start About Section */
.about img {
    border-radius: var(--border-raduis);
}
.about .lorem {
    font-size: 0.9rem;
}
.about form p {
    font-weight: bold;
    font-size: 0.9rem;
}
.about form p span {
    color: #777;
}
/* End About Section */
/* Start Skills Section */
.skill .progress-group {
    margin-bottom: 1.5rem;
}
.skill .progress-group .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill .progress-group .label span {
    font-weight: bold;
    font-size: 0.9rem;
}
.skill .progress-group .progress {
    height: 0.9rem;
}
.skill .progress-group .progress .progress-bar {
    border-radius: 0.375rem;
}
/* End Skills Section */
/* Start Quality Section */
.quality ul {
    position: relative;
}
.quality ul::before {
    content: "";
    position: absolute;
    width: 0.1rem;
    height: 100%;
    background-color: var(--primary);
    left: 0;
    top: 0;
}
.quality ul li {
    position: relative;
}
.quality ul li::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--primary);
    left: -1.5rem;
}
.quality ul li::after {
    content: "";
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: var(--mainColor);
    top: 0.3rem;
    left: -1.2rem;
}
.quality ul li h5 {
    font-size: 1.2rem;
} 
.quality ul li h6 {
    font-size: 0.9rem;
    margin-top: -0.25rem;
}
.quality ul li h6 span {
    color: #777;
}
.quality ul li h6 .empty {
    width: 0.055rem;
    height: 0.8rem;
    position: relative;
    top: 0.1rem;
    display: inline-block;
    background-color: #777;
}
/* End Quality Section */
/* Start Service Section */
.service .box {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    padding: 0.8rem;
    transition: var(--transition);
}
.service .box:hover {
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.4);
}
.service .box .text svg {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--mainColor);
    padding: 1rem;
}
.service .box .link-custom {
    color: aqua;
}
/* End Service Section */
/* Start Portfolio Section */
.portfolio .main h1 {
    font-size: 5rem;
}
.portfolio ul li {
    margin: 0.2rem;
    display: inline-block;
}
.portfolio .img {
    position: relative;
    transition: var(--transition);
    overflow: hidden;
}
.portfolio .img img {
    border-radius: var(--border-raduis);
}
.portfolio .img .icon {
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    border-radius: var(--border-raduis);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    transition: var(--transition);
}
.portfolio .img:hover .icon {
    width: 18rem;
    height: 10rem;
}
.portfolio .img .icon svg {
    font-size: 3rem;
    color: var(--mainColor);
    font-weight: bold;
    opacity: 0;
    transition: var(--transition);
}
.portfolio .img:hover .icon svg {
    opacity: 1;
}
/* End Portfolio Section */
/* Start Review Section */
.review .item {
    background-color: #ddd;
    border-radius: 1rem;
}
.review .item svg {
    color: var(--primary);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.review .item .lorem {
    font-size: 1.1rem;
} 
.review .item .text img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0.5rem auto;
}
.review .item .text h5 {
    line-height: 1;
}
.review .item .text h5 span {
    font-weight: normal;
    color: #777;
    font-size: 0.9rem;
}
.owl-theme .owl-nav {
    display: none;
}
.owl-theme .owl-dots {
    margin-top: 2rem;
}
.owl-theme .owl-dots .owl-dot.active span {
    background-color: aqua;
}
/* End Review Section */
/* Start Contact Section */
.contact .main h1 {
    font-size: 5rem;
}
/* End Contact Section */
/* Start Footer */
footer {
    background-color: var(--primary);
    padding-top: 3rem;
}
footer .socials a {
    width: 1rem;
    height: 1rem;
    background-color: #ccc;
    border-radius: 50%;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
footer .socials a svg {
    color: var(--secondColor);
    font-size: 0.8rem;
}
footer ul li {
    display: inline-block;
    margin: 0.5rem;
    color: #ccc;
    font-size: 0.9rem;
    cursor: pointer;
}
footer p {
    color: var(--mainColor);
    font-size: 0.9rem;
}
footer p span {
    color: var(--secondColor);
}
/* End Footer */